

body {
    font-family: "Times New Roman", Times, serif;
    font-size: 25px;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

nav {
    background-color: #bd91ae;
    padding: 1em;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

h1 {
    text-align: center;
}

form {
    max-width: 500px;
    margin: 2em auto;
    padding: 1em;
    background-color: white;
    border-radius: 5px;
}